force-app/main/default/flows/Account_After_Update_Testing_Short_Link.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>URL_IsChange</name>
        <label>URL IsChange</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Testing_URL__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Testing_URL__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Shortify_Sub_flow_for_Short_URL_creation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Account - After Update - Testing Short Link {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - After Update - Testing Short Link</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Testing_Shorten_Link__c</field>
            <value>
                <elementReference>$Record.Testing_Shorten_Link__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>URL_IsChange</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Shortify_Sub_flow_for_Short_URL_creation</name>
        <label>Shortify Sub flow for Short URL creation</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <flowName>cfsu__Shortify_Sub_flow_for_Short_URL_creation</flowName>
        <inputAssignments>
            <name>bucketName</name>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>description</name>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>identifier</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>longURL</name>
            <value>
                <elementReference>$Record.Testing_URL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>$Record.Testing_Shorten_Link__c</assignToReference>
            <name>shortURL</name>
        </outputAssignments>
    </subflows>
</Flow>
